<h1>Hello User!</h1>
<h1>Enter Email</h1>

<form action="<%=setmail_path%>" method="post">
  <input name="email" type="email" value="">
  <input class="btn" type="submit" value="submit">
</form>
<% o = [('a'..'z'), ('A'..'Z')].map { |i| i.to_a }.flatten
   string = (0...10).map{ o[rand(o.length)] }.join%>
<label><%=string%></label>